@value medium-gray, black from 'hagans-family/styles/colors';

.reunion-page-header {
  composes: reunion-page-header from 'hagans-family/styles/shared';
}

.page-title {
  composes: page-title from 'hagans-family/styles/shared';
  color: black;
  margin-bottom: 42px;
}

.p {
  padding-bottom: 24px;
}

.user-list {
  margin: 0 32px;
}
