@value light-gray, dark-gray, gold from 'hagans-family/styles/colors';

.page-title {
  composes: page-title from 'hagans-family/styles/shared';
}

.users {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.user {
  max-width: 200px;
  text-align: center;
  margin: 0 16px 32px;
}

.user-link {
  text-decoration: none;
  color: dark-gray;
}

.user-name {
  font-size: 17px;
  line-height: 26px;
  font-weight: bold;
  margin: 16px 0 16px;
  transition: all .3s;
}
.user-link:hover .user-name {
  color: gold;
}

.user-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.status {
  display: inline-block;
  padding: 2px 16px;
  border-radius: 16px;
}

.status.member {
  background: #E09AfE;
  color: white;
}

.status.inactive {
  background: light-gray;
}
