@value gold: #e7ae01;

@value primary-color: gold;
@text-black: #1a1c1e;
@text-gray: #6a6c6e;

@footer-background: #292c2f;
@menu-dropdown-background: #292c2f;
@background-gray: #292c2f;

@footer-foreground: #616a74;
