/* https://www.hexcolortool.com/ */

@value header-color: rgba(36,38,41,0.8);
@value input-color: #666;

@value light-gray: #E0E0E0;
@value medium-gray: #888;
@value dark-gray: #616A74;
@value black: #292C2f;

@value light-gold: #E8BB37;
@value gold: #E7AE01;

@value powder-blue: #678DB8;

@value fixed-post-image-width: 700px;

body {
  color: black;
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.page-title {
  font-size: 40px;
  margin: 56px 0 56px 0;
  text-align: center;
  font-family: 'Noto Serif', Georgia, serif;
  font-weight: 700;
}

.box-shadow {
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

/* TODO get a css reset */
.input {
  color: input-color;
  border-radius: 2px;
  border: 2px solid #DDD;
  padding: 0 12px;
  height: 40px;
  font-size: 15px;
}
.input:focus {
  border-color: #BBB;
  outline: none;
}

.input-label {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: #555;
  display: block;
  margin: 0 0 8px 0;
}

.input + .input-label {
  margin-top: 16px;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.-button {
  color: white;
  vertical-align: middle;
  height: auto;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  box-shadow: none;
  text-shadow: none;
  font-family: inherit;
  outline: none;
  margin: 0;
  border-radius: 4px;
  border: none;
  text-align: center;
  text-decoration: none;

  /* opacity: 1; */
  min-width: 100px;
  padding: 16px 20px;

  transition: all .3s;
}
.-button:disabled {
  cursor: not-allowed;
}

.-button + .-button {
  margin-left: 16px;
}

.primary-button {
  composes: -button;
  background: gold;
}
.primary-button:hover {
  background: light-gold;
}
.primary-button:disabled {
  background: #C59C20;
}

.secondary-button {
  composes: -button;
  color: input-color;
  background: #EEE;
}
.secondary-button:hover {
  background: #E5E5E5;
}

.link {
  transition: all .3s;
  cursor: pointer;
}
.link:focus {
  outline: none;
}

.gold-link {
  composes: link;
  color: gold;
}
.gold-link:hover {
  color: light-gold;
}

.gray-link {
  color: medium-gray;
}
.gray-link:hover {
  color: dark-gray;
}

.loading {
  color: medium-gray;
  font-style: italic;
}

/* power select styles - match other inputs */
:global(.ember-power-select-trigger) {
  color: input-color;
  border-radius: 2px;
  border: 2px solid #DDD;
  padding: 0 12px;
  min-height: 40px;
  font-size: 15px;
}
:global(.ember-power-select-trigger--active) {
  border-color: #BBB;
}
:global(.ember-power-select-multiple-option) {
  line-height: 32px;
  color: input-color;
  background: white;
  border-color: #DDD;
  border-width: 2px;
  display: flex;
  padding: 0 8px;
}
:global(.ember-power-select-multiple-option .ember-power-select-multiple-remove-btn) {
  margin-right: 8px;
}
:global(.ember-power-select-options .ember-power-select-option) {
  line-height: 32px;
  padding: 4px 16px;
  cursor: pointer;
}
:global(.ember-power-select-option[aria-selected=true]) {
  background: light-gray;
  color: inherit;
}
:global(.ember-power-select-option[aria-current=true]) {
  background: powder-blue;
  color: white;
}
:global(.ember-power-select-trigger-multiple-input) {
  line-height: 32px;
  padding: 4px 0;
}

:global(.liquid-container),
:global(.liquid-child) {
  overflow: visible;
}
