{{#reunion-index reunionYear=reunionYear posts=model.posts authors=model.authors}}
  <div local-class='p'>
    The 2017 reunion was held on July 7 – 9 in Chicago, IL.
  </div>

  <div local-class='p planning-committee'>
    <h2>Planning Committee</h2>
    <div>Curtis Hagans, Jr.</div>
    <div>David Williamson</div>
    <div>Jill Gilmer</div>
  </div>
{{/reunion-index}}
