@value gold from 'hagans-family/styles/shared';

.decoration {
  max-width: 90%;
  padding: 0 5%;
  margin-top: 16px;
}

.login-form {
  display: flex; /* TODO need when all content is flex? */
  flex-direction: column;
  min-width: 450px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .login-form {
    margin: 0 16px;
  }
}

.page-title {
  composes: page-title from 'hagans-family/styles/shared';
}

.input-label {
  composes: input-label from 'hagans-family/styles/shared';
}

.input {
  composes: input from 'hagans-family/styles/shared';
}

.buttons {
  composes: button-container from 'hagans-family/styles/shared';
}

.login {
  composes: primary-button from 'hagans-family/styles/shared';
}

.register {
  composes: secondary-button from 'hagans-family/styles/shared';
}
