.reunion-page-header {
  composes: reunion-page-header from 'hagans-family/styles/shared';
}

.page-title {
  composes: page-title from 'hagans-family/styles/shared';
}

.centered-content {
  composes: centered-content from 'hagans-family/styles/shared';
}

.embedded-airtable {
  padding: 0 64px;
  height: 1000px;
}

@media (max-width: 600px) {
  .embedded-airtable {
    padding: 0 15px;
  }
}
