<div local-class='social-login-item facebook' onclick={{action redirect '/auth/facebook'}}>
  <i class='genericon genericon-facebook-alt' local-class='icon'></i>
</div>

<!-- <div local-class='social-login-item google'>
  <i class='genericon genericon-googleplus' local-class='icon'></i>
</div>

<div local-class='social-login-item twitter'>
  <i class='genericon genericon-twitter' local-class='icon'></i>
</div> -->
