.register-form {
  display: flex; /* TODO need when all content is flex? */
  flex-direction: column;
  width: 450px;
  margin: auto;
}

.decoration {
  max-width: 90%;
  padding: 0 5%;
}

.page-title {
  composes: page-title from 'hagans-family/styles/shared';
}

.input-label {
  composes: input-label from 'hagans-family/styles/shared';
}

.input {
  composes: input from 'hagans-family/styles/shared';
}

.buttons {
  composes: button-container from 'hagans-family/styles/shared';
}

.register {
  composes: primary-button from 'hagans-family/styles/shared';
}

.login {
  composes: secondary-button from 'hagans-family/styles/shared';
}
