<div local-class='reunion-page-header'>
  {{article-header}}

  <div local-class='page-title'>
    Dates & Itinerary
  </div>

  <div local-class='subheader'>
    2019 Hagans Family Reunion
  </div>
  <div local-class='p'>
    July 12 – 14
    <br>
    Clearwater, Florida
  </div>

  <div local-class='subheader'>
    Schedule
  </div>
  <div local-class='p'>
    When we have a schedule, it will show up here.
  </div>
</div>
