<!-- TODO -->
<!-- Or create a mini dashboard with:
Posts w/ most recent 5 (just drafts?) -->
<!-- Emails w/ most recent -->

<div local-class='reunion-page-header'>
  <div local-class='page-links'>
    {{#link-to 'admin.posts' local-class='link'}}
      My Posts
    {{/link-to}}
  </div>
</div>
