<!-- TODO -->
<!-- Or create a mini dashboard with:
Posts w/ most recent 5 (just drafts?) -->
<!-- Emails w/ most recent -->

<div local-class='reunion-page-header'>
  {{article-header}}

  <div local-class='page-title'>
    Admin Dashboard
  </div>
</div>

<div local-class='centered-content centered-text'>
  {{#if canPost}}
    <div local-class='page-links'>
      <div local-class='title'>
        Posts
      </div>
      {{#link-to 'admin.posts' local-class='link'}}
        My Posts
      {{/link-to}}
      {{#link-to 'admin.posts.new' local-class='link'}}
        New Post
      {{/link-to}}
    </div>
  {{/if}}

  <div local-class='page-links'>
    <div local-class='title'>
      Users
    </div>
    {{#link-to 'admin.users.database' local-class='link'}}
      User Database
    {{/link-to}}
  </div>
</div>
