<div local-class='reunion-page-header'>
  {{article-header}}

  <div local-class='page-title'>
    Suggestions
  </div>

  <div local-class='p'>
    Have a suggestion for this reunion or any other? Let your planning committee know using the form below.
  </div>
  <div local-class='p'>
    For any other inquiries or comments, use the {{#link-to 'contact' local-class='link'}}Contact{{/link-to}} form.
  </div>
</div>

{{communication-form
  deliveryMethod='Zapier Admin Notification'
  type='Form - Suggestion'
}}
