<div local-class='reunion-page-header'>
  {{article-header}}

  <div local-class='page-title'>
    Fees
  </div>

  <div local-class='p'>
    <div local-class='offset-block'>
      $150 per adult
    </div>
    <div local-class='offset-block'>
      $75 per child (4-12 yrs)
    </div>
    <div local-class='offset-block'>
      Children 3 and under are free
    </div>
    Fees cover the family T-shirt, Friday Fish Fry, Saturday BBQ, and Sunday Banquet.
    All meals will have a vegan option.
  </div>

  <div local-class='p'>
    PayPal, Cash ($) app, and Zelle accounts have been set up to make it easier for you to pay for the fees.
    Details will be on the registration form.
  </div>
</div>
