@value black from 'hagans-family/styles/shared';

.link-to-index {
  composes: page-title from 'hagans-family/styles/shared';
  composes: gold-link from 'hagans-family/styles/shared';
  text-decoration: none;
  font-size: 30px !important;
  margin: 0 !important;
}
@media (max-width: 600px) {
  .link-to-index {
    font-size: 24px !important;
  }
}

.app-header {
  display: flex;
  align-items: center;
  padding: 28px 40px;
  flex-flow: wrap;
}
@media (max-width: 600px) {
  .app-header {
    padding: 16px 32px;
  }
}

.menu {
  display: flex;
  margin-left: auto;
}

.menu-item {
  padding: 0 12px;
}

.menu-link {
  composes: link from 'hagans-family/styles/shared';
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  transition: opacity .3s;
  text-align: center;
}
.menu-link:hover {
  opacity: 0.7;
}

.dropdown-container {
  position: relative;
}

.dropdown-content {
  position: absolute;
  margin-top: 10px;
  z-index: 10;
  left: 50%;
  top: 100%;
  background: black;
  width: 200px;
  margin-left: -100px;
}
.dropdown-content:before {
  border-color: transparent transparent black transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  content: ' ';
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: -10px;
  width: 0;
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  min-height: 40px; /* larger trigger area for dropdowns */
  margin-top: -10px; /* larger trigger area for dropdowns */
  margin-bottom: -10px; /* larger trigger area for dropdowns */
}
.dropdown-trigger + .dropdown-content {
  display: none;
}

.dropdown-trigger:hover + .dropdown-content,
.dropdown-content:hover {
  display: block;
}

.dropdown-content .menu-link {
  font-size: 14px;
  padding: 12px 20px;;
  text-transform: none;
  text-align: left;
  letter-spacing: initial;
}

.menu-trigger {
  display: none;
  border: 1px solid rgba(255,255,255,.2);
  background-color: rgba(0,0,0,.1);
  margin-left: auto;
  color: white;
  padding: 16px;
}
.menu-trigger .icon {
  margin-right: 8px;
}

@media (max-width: 1100px) {
  .menu-trigger {
    display: block;
  }
  .menu {
    width: 100%;
    flex-direction: column;
    display: none;
  }
  .menu-item:not(:first-child) {
    border-top: 1px solid #363b40;
  }
  .menu .menu-link {
    padding: 16px 0;
    text-align: left;
    color: #8C97A2;
  }
  .menu.show-mobile-menu {
    display: block;
  }
  .dropdown-trigger + .dropdown-content {
    display: block;
  }
  .dropdown-content {
    margin-left: 32px;
    position: initial;
  }
}
