{{#reunion-index reunionYear=reunionYear posts=model.posts authors=model.authors}}
  <div local-class='p'>
  The 2011 reunion was held on July 8 – 10 in Boston, MA.
  </div>

  <div local-class='p planning-committee'>
    <h2>Planning Committee</h2>
    <div local-class='committee-user-list'>
      <h4>Co-Chairman</h4>
      <div>Roswell Johnson</div>
      <div>Beau Henderson</div>
      <h4>Treasurer</h4>
      <div>Alenda Johnson</div>
      <h4>Activities Coordinator</h4>
      <div>Marissa Williams</div>
      <div>Lynette Williams</div>
      <h4>Event Support</h4>
      <div>Micha Williamson</div>
      <div>Gloria Gilme</div>
      <h4>Senior Advisor</h4>
      <div>Thomas Powell Jr.</div>
    </div>
  </div>
{{/reunion-index}}
