@value light-gray, dark-gray from 'hagans-family/styles/colors';
@value powder-blue, gold from 'hagans-family/styles/colors';

.page-title {
  composes: page-title from 'hagans-family/styles/shared';
  margin: 32px 0;
}

.user-info {
  composes: centered-content from 'hagans-family/styles/shared';
}
@media (min-width: 800px) {
  .user-info {
    width: 600px;
  }
}

.user-image {
  display: flex;
  width: 150px;
  height: 150px;
  margin: 0 auto 32px;
  border-radius: 100%;
  position: relative;
}
.user-image img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  object-fit: cover;
}

.user-image.can-upload * {
  cursor: pointer;
}
.file-upload-trigger {
  display: none;
}
.user-image.can-upload:hover .file-upload-trigger {
  display: block;
}
.user-image.can-upload:hover .file-upload {
  background: rgba(0,0,0,0.5);
}
.file-upload {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
  box-sizing: border-box;
  transition: background 0.3s;
}
.file-upload .icon {
  width: 100%;
  font-size: 38px;
}
.file-upload a {
  text-decoration: none;
}
.file-upload a:focus {
  outline: none;
}
.progress-bar {
  height: 8px;
  width: 100%;
}
.progress-bar .progress {
  background: gold;
  height: inherit;
  transition: width .3s;
}

.pending-review-message {
  padding: 16px;
  border-radius: 4px;
  background: gold;
  text-align: center;
  max-width: 450px;
  margin: 0 auto 56px;
}

.profile-item {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: dark-gray;
  margin-bottom: 32px;
}

.profile-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid light-gray;
}
.profile-header.no-border {
  border: none;
  margin-bottom: 0;
}

.profile-header .icon {
  margin-right: 8px;
  font-size: 24px;
}

.profile-edit-header {
  composes: profile-header;
  font-size: 17px;
  color: dark-gray;
  text-transform: uppercase;
}

.profile-edit-section {
  margin-left: 36px;
}

.address-map {
  height: 300px;
}

.loading {
  composes: loading from 'hagans-family/styles/shared';
}

.tab-nav {
  display: flex;
  align-items: center;
  text-align: center;
  background: powder-blue;
  margin-bottom: 32px;
  border-radius: 4px;
  padding: 16px 0;
}

.tab {
  font-size: 18px;
  transition: all .3s;
  padding: 0 16px;
  border-bottom: 2px solid transparent;
}
.tab:not(:last-child) {
  border-right: 1px solid #466B95;
}
.tab.active {
  /* border-bottom: 2px solid powder-blue; */
}

.tab-link {
  composes: link from 'hagans-family/styles/links';
  text-decoration: none;
  text-transform: uppercase;
  color: #EEF4FC;
}
.tab.active .tab-link,
.tab:hover .tab-link {
  color: gold;
}
.tab.active .tab-link {
  text-shadow: 1px 1px 2px #466B95;
}

.input {
  composes: input from 'hagans-family/styles/forms';
}

.buttons {
  composes: button-container from 'hagans-family/styles/buttons';
}

.submit {
  composes: primary-button from 'hagans-family/styles/buttons';
  max-width: 150px;
}
