@value dark-gray from 'hagans-family/styles/colors';

.communication-form {
  composes: centered-content from 'hagans-family/styles/shared';
}

.form-input {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: dark-gray;
  margin-bottom: 32px;
}

.label {
  composes: input-label from 'hagans-family/styles/forms';
}

.input {
  composes: input from 'hagans-family/styles/forms';
}

.buttons {
  composes: button-container from 'hagans-family/styles/buttons';
}

.submit {
  composes: primary-button from 'hagans-family/styles/buttons';
  max-width: 150px;
}

.link {
  composes: gray-link from 'hagans-family/styles/links';
  font-size: x-large;
  text-align: center;
}
