<div local-class='centered-content'>
  <div local-class='p'>
    Oops, something went wrong!
  </div>
  <div local-class='p'>
    Makala has been notified and she'll fix the issue as soon as possible.
  </div>
</div>
