@value dark-gray, black from 'hagans-family/styles/colors';
@value powder-blue from 'hagans-family/styles/colors';
@value footer-height: 60px;
@value fixed-post-image-width from 'hagans-family/styles/shared';

.application {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* TODO do parallax scrolly thing */

.app-header {
  background: rgba(36,38,41,0.8);
  /* TODO make absolute for small screens */
  /* TODO only for wider screens: */
  position: fixed;
  top: 0;
  width: 100%;
  flex: 1;
  z-index: 10;
}
@media (min-width: 1101px) {
  .app-header.index-page {
    background: rgba(36,38,41,0.4);
    z-index: 5;
  }
}
@media (max-width: 1100px) {
  .app-header {
    background: black;
    position: initial;
  }
}

.app-footer {
  background: black;
  color: dark-gray;
  border-bottom: 24px black;
  z-index: 10;
  height: footer-height;
}
.app-footer.post-page {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 75px 0;
  margin-top: 90px;
  position: relative;
}
@media (max-width: 1100px) {
  .content {
    margin-top: 0;
    padding: 32px 0;
  }
}

.content .app-footer {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: fixed-post-image-width;
}
.content.post-page .app-footer {
  display: block;
}
@media (max-width: 1100px) {
  .content .app-footer {
    margin-left: 0;
  }
}

.content.index-page {
  padding: 0;
}

/* @keyframes -rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.loading {
  margin-top: 36px;
}

.site-image {
  background: url(/images/family-photo.jpg);
  height: 530px;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.site-image:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  background: black;
}

.site-description-container {
  composes: page-title from 'hagans-family/styles/shared';
  font-size: 35px;
  color: white;
  padding: 30px 0;
  position: absolute;
  bottom: 50px;
  left: 20%;
  right: 20%;
}

.site-description-container:before {
  content: ' ';
  display: block;
  left: 25%;
  top: 0;
  width: 50%;
  border-top: 1px solid rgba(255,255,255,0.5);
  margin: 0 auto;
  position: absolute;
}

.site-description-container:after {
  content: ' ';
  display: block;
  bottom: 0;
  left: 44%;
  width: 12%;
  border-top: 1px solid rgba(255,255,255,0.5);
  margin: 0 auto;
  position: absolute;
}

.site-description {
  line-height: 48px;
}

.site-description:before {
  content: ' ';
  background-color: powder-blue;
  display: block;
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -60px;
  position: absolute;
  top: 0;
  width: 120px;
}
@media (max-width: 600px) {
  .site-description:before {
    margin: -4px 0 0 -30px;
    width: 60px;
  }
}

@media (max-width: 800px) {
  .site-description-container {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .site-description-container {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .site-description-container {
    font-size: 20px;
  }
}

.site-image + .content {
  margin-top: 0;
}
