@value primary-color from 'hagans-family-reunion/shared';

a {
  cursor: pointer;
}

.application-header {
  background-color: rgb(0,0,0,0.8);
}

.nav {
  display: flex;
  flex-direction: row;
}

.menu-item {
  color: white;
  text-transform: uppercase;
  padding: 16px 16px 4px;
  margin-bottom: 16px;
}

.menu-item:hover {
  opacity: 0.7;
}

.menu-item.active {
  border-bottom: 2px solid primary-color;
}

.menu-dropdown {
  background-color: background-gray from 'hagans-family-reunion/shared';
}
