<div local-class='application'>
  <div local-class='app-header'>
    {{app-header}}
  </div>

  <div local-class='content'>
    {{outlet}}
  </div>

  <div local-class='app-footer'>
    {{app-footer}}
  </div>
</div>
