@value medium-gray from 'hagans-family/styles/shared';

.reunion-page-header {
  composes: reunion-page-header from 'hagans-family/styles/shared';
}

.page-title {
  composes: page-title from 'hagans-family/styles/shared';
  color: black;
  margin-bottom: 42px;
}

.centered-content {
  composes: centered-content from 'hagans-family/styles/shared';
}

.address,
.offset-block {
  composes: offset-block from 'hagans-family/styles/shared';
}

.p {
  padding-bottom: 24px;
}

.centered-text {
  text-align: center;
}

.subtitle {
  margin-top: 0;
}
