{{!-- TODO might want to try markdown templates --}}
<div local-class='reunion-page-header'>
  {{article-header}}

  <div local-class='page-title'>
    Accommodations
  </div>

  <div local-class='p'>
    The hub of the activities will take place at
    <div local-class='address'>
      <a href='https://www.google.com/maps/place/26+Cambria+St,+Clearwater+Beach,+FL+33767' target='_blank'>
        26 Cambria Street<br>
        Clearwater Beach, FL 33767
      </a>
    </div>
    This will give a throwback feel of reunions of the past. It is close to the beach and has a pool.
  </div>

  <div local-class='p'>
    Additional accommodations will be at available at the
    <a href='https://www.marriott.com/hotels/hotel-photos/tpays-springhill-suites-clearwater-beach/' target='_blank'>
      Springhill Suites at Clearwater Beach by Marriott
    </a>
    <div local-class='address'>
      <a href='https://www.google.com/maps/place/SpringHill+Suites+by+Marriott+Clearwater+Beach' target='_blank'>
        309 Coronado Drive<br>
        Clearwater Beach, FL 33767
      </a>
      <a href='tel:+1 727-218-1090'>727-218-1090</a>
    </div>
    It is close to the beach and is 1.5 miles away from the hub of the reunion activities.
    The room rates are $169/night for a king bed suite; $179/night for double queen bed suite.
    This includes free breakfast and is pet-friendly. Parking at the hotel is $27/day.
  </div>

  <div local-class='page-title'>
    Getting There
  </div>

  <div local-class='p'>
    <h2 local-class='subtitle'>Closest Airports</h2>
    <div local-class='offset-block'>
      St. Petersburg-Clearwater Int'l Airport (PIE)<br>
      12.2 miles from hotel
    </div>
    <div local-class='offset-block'>
      Tampa Int'l Airport (TPA)<br>
      20.6 miles from hotel
    </div>
    <div local-class='offset-block'>
      Orlando Int'l Airport (MCO)<br>
      110 miles from hotel
    </div>
  </div>

  <div local-class='p'>
    <h2 local-class='subtitle'>Closest Train Stations</h2>
    <div local-class='offset-block'>
      <a href='https://www.amtrak.com/stations/tpa.html' target='_blank'>Tampa Union Station</a>
      25.3 miles from hotel
    </div>
  </div>

  <div local-class='p'>
    <h2 local-class='subtitle'>Closest Bus Stations</h2>
    <div local-class='offset-block'>
      <a href='https://locations.greyhound.com/bus-stations/us/florida/saint%20petersburg/bus-station-471450' target='_blank'>
        St. Petersburg
      </a>
      23.3  miles from hotel
    </div>
    <div local-class='offset-block'>
      <a href='https://locations.greyhound.com/bus-stations/us/florida/tampa/bus-station-471504' target='_blank'>
        Tampa
      </a>
      24.9 miles from hotel
    </div>
  </div>
</div>
