<div local-class='reunion-page-header'>
  {{article-header}}

  <div local-class='page-title'>
    Accommodations
  </div>

  <div local-class='p'>
    Accommodations are still being figured out.
  </div>

  <div local-class='p'>
    The nearest airport is the Tampa International Airport (TPA), which is approximately a 20 minutes drive into the city.
  </div>
</div>
