{{#reunion-index reunionYear=reunionYear posts=model.posts authors=model.authors}}
  <div local-class='p'>
    The 2013 reunion was held on July 12 – 14 in West Palm Beach, FL.
  </div>
{{/reunion-index}}
