{{article-header}}

<div local-class='page-title'>
  2019 Reunion
</div>

<div local-class='page-links'>
  {{#link-to '2019-reunion.announcements' local-class='link'}}
    Announcements
  {{/link-to}}
  {{#link-to '2019-reunion.dates' local-class='link'}}
    Dates & Itinerary
  {{/link-to}}
  {{#link-to '2019-reunion.accommodations' local-class='link'}}
    Travel & Accommodations
  {{/link-to}}
  {{#link-to '2019-reunion.fees' local-class='link'}}
    Fees
  {{/link-to}}
  {{#link-to '2019-reunion.t-shirts' local-class='link'}}
    T-Shirts
  {{/link-to}}
  {{#link-to '2019-reunion.committee' local-class='link'}}
    Planning Committee
  {{/link-to}}
  {{#link-to '2019-reunion.suggestions' local-class='link'}}
    Suggestions
  {{/link-to}}
</div>
