@value medium-gray from 'hagans-family/styles/shared';

.centered-content {
  composes: centered-content from 'hagans-family/styles/shared';
}

.flash-messages.flash-messages {
  margin: 24px 0 0;
}

.page-title {
  composes: page-title from 'hagans-family/styles/shared';
}

.subtitle {
  color: medium-gray;
  text-align: center;
}

.form-row {
  display: flex;
  margin-bottom: 16px;
}
.form-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.form-column:not(:last-child) {
  margin-right: 8px;
}
.form-column:not(:first-child) {
  margin-left: 8px;
}
.form-column:last-child {
  margin-right: 0;
}

.input-label {
  composes: input-label from 'hagans-family/styles/shared';
}

.input {
  composes: input from 'hagans-family/styles/shared';
}

.buttons {
  composes: button-container from 'hagans-family/styles/shared';
}

.primary-button {
  composes: primary-button from 'hagans-family/styles/shared';
}

.secondary-button {
  composes: secondary-button from 'hagans-family/styles/shared';
}
