@value medium-gray from 'hagans-family/styles/shared';

.centered-content {
  composes: centered-content from 'hagans-family/styles/shared';
}

.page-title {
  composes: page-title from 'hagans-family/styles/shared';
}

.subtitle {
  color: medium-gray;
  text-align: center;
}

.buttons {
  composes: button-container from 'hagans-family/styles/shared';
}

.primary-button {
  composes: primary-button from 'hagans-family/styles/shared';
}

.secondary-button {
  composes: secondary-button from 'hagans-family/styles/shared';
}

.checkmark {
  composes: checkmark from 'hagans-family/styles/shared';
}
