@value medium-gray, black from 'hagans-family/styles/shared';

.reunion-page-header {
  composes: reunion-page-header from 'hagans-family/styles/shared';
}

.page-title {
  composes: page-title from 'hagans-family/styles/shared';
  color: black;
  margin-bottom: 42px;
}

.page-links {
  /* copied from login page - make a shared css rule */
  /* font-size: 17px; */
}

.link {
  composes: gray-link from 'hagans-family/styles/shared';
  text-decoration: underline;
  height: 30px;
}
