{{#reunion-index reunionYear=reunionYear posts=model.posts authors=model.authors}}
  <div local-class='p'>
    The 2015 reunion was held on July 10 – 12 in Gulfport, MS.
  </div>
  <div local-class='p planning-committee'>
    <h2>Planning Committee</h2>
    <div>Sacyvonda "Peaches" Bradshaw </div>
    <div>Carol Smith</div>
    <div>Shemika McLaughlin</div>
    <div>Nicole Clark</div>
    <div>Demetre Rials</div>
  </div>
{{/reunion-index}}
