<div local-class='reunion-page-header'>
  {{article-header}}

  <div local-class='page-title'>
    2015
  </div>

  The 2015 reunion was held on July 10 – 12 in Gulfport, MS.

  <!-- <div local-class='page-links'>
  </div> -->
</div>
<!-- TODO show all 2015 posts -->
