:global(.ql-toolbar.ql-snow),
:global(.ql-container.ql-snow) {
  border: 2px solid #DDD;
  font-family: inherit;
}

:global(.ql-editor) {
  min-height: 200px;
}
:global(.ql-snow .ql-editor blockquote) {
  margin: 0;
}

/* TODO add post styling to editor (or just let global styles take care of that) */
