{{#reunion-index reunionYear=reunionYear posts=model.posts authors=model.authors}}
  <div local-class='p'>
    The 2009 reunion was held in Atlanta, GA.
  </div>

  <div local-class='p'>
    If you have the dates, please <a href='mailto:makala.noble@gmail.com' local-class='link'>contact Makala</a>.
  </div>
{{/reunion-index}}
