<div local-class='reunion-page-header'>
  {{article-header}}

  <div local-class='page-title'>
    T-Shirts
  </div>

  <div local-class='p'>
    The T-shirt design contest is on! <b>The deadline for submission will be March 31st, 2019.</b> There will be a monetary prize for best design. 
  </div>

  <div local-class='p'>
    Please email designs via any pictorial format to
    <a href='mailto:risebarringer@hotmail.com' target='_blank'>risebarringer@hotmail.com</a>
  </div>
</div>
