<div local-class='reunion-page-header'>
  {{article-header}}

  <div local-class='page-title'>
    T-Shirts
  </div>

  <div local-class='p'>
    Congratulations to Winona Johnson for winning the t-shirt design contest!
  </div>

  <div local-class='p designs'>
    <a href='https://dl.airtable.com/.attachments/0edbd2404091b5659351bdd0f2fe55b1/f8ed89dc/WinonaJohnsonT-shirt.jpeg' target='_blank' local-class='attachment-link'>
      <img src='https://dl.airtable.com/.attachments/0edbd2404091b5659351bdd0f2fe55b1/f8ed89dc/WinonaJohnsonT-shirt.jpeg' />
    </a>

    <a href='https://dl.airtable.com/.attachments/cedc0a1932d026b20995134e8f0a3d9d/0ae80bc9/BackofT-shirtWinonajohnson.jpeg' target='_blank' local-class='attachment-link'>
      <img src='https://dl.airtable.com/.attachments/cedc0a1932d026b20995134e8f0a3d9d/0ae80bc9/BackofT-shirtWinonajohnson.jpeg' />
    </a>
  </div>
</div>
