{{#each flashMessages.queue as |flash|}}
  {{#if (eq flash.scope scope)}}
    {{#flash-message
      flash=flash
      local-class=(concat 'flash-message ' flash.type ' ')
      class=flashClass
      as |component flash|
    }}
      <div local-class='message'>
        {{#each flash.message as |message|}}
          • {{message}}<br>
        {{else}}
          {{flash.message}}
        {{/each}}
      </div>
    {{/flash-message}}
  {{/if}}
{{/each}}
